.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:939px;
  min-width:200px;
  max-width:683px;
  margin:auto;
  background-color:#ffffff;
  filter:drop-shadow(1.8353713750839233px 1.8353713750839233px 22.024459838867188px rgba(84, 127, 185, 0.2));
  border-radius:29.365942001342773px;
  overflow:hidden;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.profile{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:94px;
  width:480px;
  min-width:480px;
  height:416.18px;
  margin-top:87px;
  margin-bottom:435.82px;
  min-height:416.18px;
}
.profile-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.IMG-20210918-0939518{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:126px;
  width:243.98px;
  min-width:243.98px;
  height:243.98px;
  margin-top:0px;
  margin-bottom:172.2px;
  min-height:243.98px;
  background:linear-gradient(90deg, rgba(9, 30, 58, 0.2) 0%, rgba(47, 128, 237, 0.2) 50%, rgba(45, 158, 224, 0.2) 100%);
  border-radius:243.97674560546875px;
}
.IMG-20210918-0939518-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.info{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:0px;
  width:480px;
  min-width:480px;
  height:127.54px;
  margin-top:-127.18px;
  margin-bottom:-0.36000000000001364px;
  min-height:127.54px;
}
.info-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.nombrere-Apellido{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:0px;
  width:480px;
  min-width:480px;
  margin-top:0px;
  margin-bottom:57.54000000000002px;
  min-height:70px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(29, 87, 165, 1);
  font-style:normal;
  font-family:Montserrat;
  font-weight:600;
  font-size:57.70965576171875px;
  line-height:70.3125px;
}
.nombrere-Apellido-outer{
  pointer-events:none;
  z-index:7;
  position:relative;
  display:flex;
}
.job-profesion{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:100px;
  width:294px;
  min-width:294px;
  margin-top:-52.540000000000006px;
  margin-bottom:-0.45999999999997954px;
  min-height:53px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(29, 105, 207, 1);
  font-style:normal;
  font-family:Montserrat;
  font-weight:400;
  font-size:43.2822380065918px;
  line-height:52.8273811340332px;
}
.job-profesion-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.social-media{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:209px;
  width:265px;
  min-width:265px;
  height:128.36px;
  margin-top:-348px;
  margin-bottom:219.64px;
  min-height:128.36px;
}
.social-media-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.icons{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:102px;
  width:60.88px;
  min-width:60.88px;
  height:60.88px;
  margin-top:0px;
  margin-bottom:67.48000000000002px;
  min-height:60.88px;
}
.icons-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.instagram{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:0px;
  width:60.88px;
  min-width:60.88px;
  height:60.88px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:60.88px;
}
.instagram-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}

}

}
.akar-icons-instagram{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:13.140604467805524%;
  width:74.19513797634694%;
  height:74.19513797634691%;
  margin-top:13.140604467805524%;
  overflow:hidden;
}
.akar-icons-instagram-outer{
  pointer-events:none;
  z-index:13;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Group-1{
  position:relative;
  z-index:14;
  pointer-events:none;
  margin-left:2px;
  width:41.41px;
  min-width:41.41px;
  height:41.41px;
  margin-top:2px;
  margin-bottom:1.759999999999991px;
  min-height:41.41px;
}
.Group-1-outer{
  pointer-events:none;
  z-index:14;
  position:relative;
  display:flex;
}
  
}

}

}

}
.q-openartatx{
  position:relative;
  z-index:16;
  pointer-events:none;
  margin-left:0px;
  width:265px;
  min-width:265px;
  margin-top:-56.360000000000014px;
  margin-bottom:0.36000000000001364px;
  min-height:56px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Montserrat;
  font-weight:400;
  font-size:45.59831619262695px;
  line-height:55.80357360839844px;
  background:linear-gradient(90deg, rgba(9, 30, 58, 1) -31.081079054349086%, rgba(47, 128, 237, 1) 94.96886453243448%, rgba(45, 158, 224, 1) 148.64864314751895%);
  background-clip:text;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
.q-openartatx-outer{
  pointer-events:none;
  z-index:16;
  position:relative;
  display:flex;
}
.button{
  position:relative;
  z-index:17;
  pointer-events:none;
  margin-left:101px;
  width:481.54px;
  min-width:481.54px;
  height:106.35px;
  margin-top:-190px;
  margin-bottom:83.64999999999998px;
  min-height:106.35px;
  background:linear-gradient(90deg, rgba(9, 30, 58, 1) 0%, rgba(47, 128, 237, 1) 50%, rgba(45, 158, 224, 1) 100%);
  border-radius:118.16822814941406px;
  overflow:hidden;
}
.button-outer{
  pointer-events:none;
  z-index:17;
  position:relative;
  display:flex;
}
.icon-copy{
  position:relative;
  z-index:19;
  pointer-events:none;
  margin-left:357px;
  width:52px;
  min-width:52px;
  height:52px;
  margin-top:27px;
  margin-bottom:27.350000000000023px;
  min-height:52px;
  overflow:hidden;
}
.icon-copy-outer{
  pointer-events:none;
  z-index:19;
  position:relative;
  display:flex;
}
.Group{
  position:relative;
  z-index:20;
  pointer-events:none;
  margin-left:9px;
  width:34.66px;
  min-width:34.66px;
  height:43.34px;
  margin-top:4px;
  margin-bottom:4.659999999999968px;
  min-height:43.34px;
}
.Group-outer{
  pointer-events:none;
  z-index:20;
  position:relative;
  display:flex;
}

}
.Vector-outer{
  pointer-events:none;
  z-index:21;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.text-button{
  position:relative;
  z-index:18;
  pointer-events:none;
  margin-left:105px;
  width:226px;
  min-width:226px;
  margin-top:-77.35px;
  margin-bottom:29.350000000000023px;
  min-height:48px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 254, 254, 1);
  font-style:normal;
  font-family:Montserrat;
  font-weight:600;
  font-size:39.389408111572266px;
  line-height:47.99107360839844px;
}
.text-button-outer{
  pointer-events:none;
  z-index:18;
  position:relative;
  display:flex;
}
